[submodule "OpenFPGA_RS"]
	path = OpenFPGA_RS
	url = git@github.com:RapidSilicon/OpenFPGA_RS.git
	
[submodule "yosys_verific_rs"]
	path = yosys_verific_rs
	url = git@github.com:RapidSilicon/yosys_verific_rs.git

[submodule "FOEDAG_rs"]
	path = FOEDAG_rs
	url = git@github.com:RapidSilicon/FOEDAG_rs.git
[submodule "tests/Jira_Testcase"]
	path = tests/Jira_Testcase
	url = git@github.com:RapidSilicon/Jira_Testcase.git
