name: 'Fetch and Test XML changes'

on:
  #push:
  repository_dispatch:
    types: [digest_latest_Release]

jobs:
  XML_Digest_and_test:
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        updates:
        - xml
        - ric
        - pintable
    env:
      MODE: ${{ matrix.updates }}
  
    steps:
    - name: ssh-agent
      uses: webfactory/ssh-agent@v0.7.0
      with: 
        ssh-private-key: |
          ${{ secrets.SSH_PRIVATE_KEY_VERIFIC_RS }}
          ${{ secrets.SSH_PRIVATE_KEY_OPENFPGA }}
          ${{ secrets.SSH_PRIVATE_KEY_FOEDAG }}
          ${{ secrets.SSH_PRIVATE_KEY_TCL }}
          ${{ secrets.SSH_PRIVATE_KEY_YOSYS_VERIFIC }}
          ${{ secrets.SSH_PRIVATE_KEY_RTL_BENCH }}
          ${{ secrets.SSH_PRIVATE_KEY_YOSYS }}
          ${{ secrets.SSH_PRIVATE_KEY_YOSYS_PLUGINS }}
          ${{ secrets.SSH_PRIVATE_KEY_ABC }}
          ${{ secrets.SSH_PRIVATE_KEY_LOGIC_SYNTH }}
          ${{ secrets.SSH_PRIVATE_KEY_JIRA_TESTCASE }}
          ${{ secrets.SSH_PRIVATE_KEY_LITEX_RS }}
          ${{ secrets.SSH_PRIVATE_KEY_TOOLS }}
          ${{ secrets.SSH_PRIVATE_KEY_RAPTOR_TOOLS }}
          ${{ secrets.SSH_PRIVATE_KEY_IP_CATALOG }}
          ${{ secrets.SSH_PRIVATE_KEY_BACKEND }}
          ${{ secrets.SSH_PRIVATE_KEY_EMBEDDED_COMMON_DEV }}
          ${{ secrets.SSH_PRIVATE_KEY_U_BOOT_DEV }}
          ${{ secrets.SSH_PRIVATE_KEY_ZEPHYR_DEV }}
          ${{ secrets.SSH_PRIVATE_KEY_OPENFPGA_PD_CASTOR_RS }}
          ${{ secrets.SSH_RS_FPGA_PRIMITIVES }}

    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: switch to branch
      run: |
            git branch -a 
            BRANCH='${{ matrix.updates }}_${{ github.event.client_payload.new_release }}'
            set +e
            git ls-remote --exit-code --heads origin $BRANCH >/dev/null 2>&1
            EXIT_CODE=$?
            if [[ $EXIT_CODE == '0' ]]; then
                echo "Git branch '$BRANCH' exists in the remote repository"
                main_last_commit=`git log -1 --pretty=format:"%H"`
                git checkout ${{ matrix.updates }}_${{ github.event.client_payload.new_release }}
                git pull origin ${{ matrix.updates }}_${{ github.event.client_payload.new_release }}
                git reset --hard $main_last_commit
            elif [[ $EXIT_CODE == '2' ]]; then
                echo "Git branch '$BRANCH' does not exist in the remote repository"
            fi

    - name: Download Latest Release
      uses: robinraju/release-downloader@v1.8
      with:
        repository: "RapidSilicon/SpicaProduct"
        latest: true
        tarBall: true
        zipBall: true
        token: "${{ secrets.OPENFPGA_CASTOR_XML_MERGE }}"

    - name:  Unzip and copy all the files
      run: |
          echo "payload: ${{ github.event.client_payload.new_release }}"
          for file in $(ls -1 $GITHUB_WORKSPACE/*.tar.gz)
          do
          echo $file
          tar -xvf $file
          done
          ls -l 

    - name: Copy XMLs files
      run: |
          bash .github/copy_arch.sh

    - name: show status
      run: git status

    - name: set the extension
      run: |
        case "${{ matrix.updates }}" in
            "ric")
                echo "updates are from ${{ matrix.updates }}"
                extension=tcl
                echo "EXTENSION=$extension" >> $GITHUB_ENV
                echo "path_to_commit=etc/**/**/*.tcl" >> $GITHUB_ENV
                ;;
            "xml")
                echo "updates are from ${{ matrix.updates }}"
                extension=xml
                echo "EXTENSION=$extension" >> $GITHUB_ENV
                echo "path_to_commit=etc/**/*.xml etc/*.xml" >> $GITHUB_ENV
                ;;
            "pintable")
                echo "updates are from ${{ matrix.updates }}"
                extension=csv
                echo "EXTENSION=$extension" >> $GITHUB_ENV
                echo "path_to_commit=etc/**/*.csv" >> $GITHUB_ENV
                ;;
            *)
                echo "Invalid value: ${{ matrix.updates }}"
                ;;
        esac

    - name: Check changes are related
      id: is_change
      run: |
        any_diff=`git diff  --name-status -- '*.${{ env.EXTENSION }}'`
        echo $any_diff
        if [ ! -z "$any_diff" ]
        then
           echo "has_changed=true" >> $GITHUB_OUTPUT
        else
          echo "nothing changed in ${{ matrix.updates }} files"
        fi

    - name: Add and Push files
      if: contains(steps.is_change.outputs.has_changed, 'true')
      uses: GuillaumeFalourd/git-commit-push@v1.3
      with:
        email: nadeem.yaseen@rapidsilicon.com
        name: nadeemyaseen-rs
        commit_message: Added ${{ matrix.updates }} files from ${{ github.event.client_payload.new_release }}
        files: "${{ env.path_to_commit }}"
        target_branch: ${{ matrix.updates }}_${{ github.event.client_payload.new_release }}
        force: true

# if above step pass then create PR.          
    - name: Create PR
      if: contains(steps.is_change.outputs.has_changed, 'true')
      uses: repo-sync/pull-request@v2
      with:
          source_branch: ${{ matrix.updates }}_${{ github.event.client_payload.new_release }}                                # branch having xmls files
          destination_branch: "main"                                                                   # name of branch on which PR go
          pr_title: "Pulling ${{ matrix.updates }} release ${{ github.event.client_payload.new_release }} into main. "               # Title of pull request
          pr_body: "An automated PR to check in New ${{ matrix.updates }} Release. Click on the link to see tests/batch results ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"                              # Full markdown support, requires pr_title
          pr_reviewer: "alain-rs"                                                         # Comma-separated list (no spaces)
          pr_assignee: "nadeemyaseen-rs"                                                  # Comma-separated list (no spaces)
          pr_label: "openfpga_castor_pd_XMLs"                                             # Comma-separated list (no spaces)
          pr_allow_empty: true                                                            # Creates pull request even if there are no changes
          github_token: ${{ secrets.GITHUB_TOKEN }}

    - name: Install dependencies
      if: contains(steps.is_change.outputs.has_changed, 'true')
      run: |
        bash .github/workflows/install_ubuntu_dependencies_build.sh
#        bash .github/workflows/install_litex_ubuntu.sh

    - name: Setup Python Packages
      run: |
        pip3 install orderedmultidict
        pip3 install psutil

    - name: Use ccache
      if: contains(steps.is_change.outputs.has_changed, 'true')
      uses: hendrikmuhs/ccache-action@v1.2.3
      with:
        key: linux-${{ matrix.mode }}

    - name: Configure shell
      run: |
        echo 'CC=gcc-11' >> $GITHUB_ENV
        echo 'CXX=g++-11' >> $GITHUB_ENV
        echo 'PATH=/usr/lib/ccache:'"$PATH" >> $GITHUB_ENV
        echo 'PREFIX=/tmp/raptor_gui-install' >> $GITHUB_ENV
        echo "$PREFIX" >> $GITHUB_PATH
        echo "ADDITIONAL_CMAKE_OPTIONS='-DMY_CXX_WARNING_FLAGS="-W -Wall -Wextra -Wno-unused-parameter -Wno-unused-variable -Werror -UNDEBUG"'" >> $GITHUB_ENV
        echo 'RULE_MESSAGES=off' >> $GITHUB_ENV
        echo 'LC_ALL=en_US.utf-8' >> $GITHUB_ENV
        echo 'LANG=en_US.utf-8' >> $GITHUB_ENV

    - name: Show shell configuration
      if: contains(steps.is_change.outputs.has_changed, 'true')
      run: |
        env
        which cmake && cmake --version
        which make && make --version
        which swig && swig -version
        which python && python --version
        which ninja && ninja --version
        which tclsh && echo 'puts [info patchlevel];exit 0' | tclsh
        which $CC && $CC --version
        which $CXX && $CXX --version

    - name: Test Release
      if: contains(steps.is_change.outputs.has_changed, 'true')
      run: |
        make release ADDITIONAL_CMAKE_OPTIONS=-DBUILD_YOSYS_PLUGINS=ON test
        make release test/batch

#    - name: automerge XMLs PR
#      uses: "pascalgn/automerge-action@v0.15.6"
#      env:
#          GITHUB_TOKEN: "${{ secrets.OPENFPGA_CASTOR_XML_MERGE }}"
#          MERGE_LABELS: "openfpga_castor_pd_XMLs"
#          MERGE_REMOVE_LABELS: "openfpga_castor_pd_XMLs"
#          MERGE_METHOD: "merge"
#          MERGE_COMMIT_MESSAGE: "Merge the XMLs version ${{ github.event.client_payload.new_tag }}"
#          MERGE_FORKS: "false"
#          MERGE_RETRIES: "2"
#          MERGE_RETRY_SLEEP: "10000"
#          MERGE_REQUIRED_APPROVALS: "0"
#          MERGE_DELETE_BRANCH: "true"
#          MERGE_ERROR_FAIL: "true"
